<ul class="menu-root">
  <% ['api', 'style-guide'].indexOf(type) === -1 && site.pages.find({type: type}).sort('order').each(function (p) { %>
    <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
    <% if (type === 'guide') { %>
      <% if (fileName === 'installation') { %>
        <li><h3>Essentials</h3></li>
      <% } %>
      <% if (fileName === 'command-line') { %>
        <li><h3>Command Line</h3></li>
      <% } %>
      <% if (fileName === 'directory-structure') { %>
        <li><h3>Directory Structure</h3></li>
      <% } %>
      <% if (fileName === 'design-file') { %>
        <li><h3>Design File</h3></li>
      <% } %>
      <% if (fileName === 'models') { %>
        <li><h3>Models</h3></li>
      <% } %>
      <% if (fileName === 'concerns') { %>
        <li><h3>Concerns</h3></li>
      <% } %>
      <% if (fileName === 'team') { %>
        <li><h3>Meta</h3></li>
      <% } %>
    <% } %>
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
    </li>
  <% }) %>
</ul>
